.hidden{
    display: none;
}
li .text-title{
    font-size: 120%;
}

textarea.form-control{
    resize:none;
    margin-bottom: 3vw;
}

a{
    text-decoration: underline;
    cursor:pointer

}
.page-link:focus{
    z-index: 3; 
     color: none;
    background: none;
    outline: none; 
    box-shadow:none
}

.spinner-border{
    vertical-align: -.5em
}

